/* CUSTOMISE STYLES */

/* Header section */

header {
    background-color:#F5EFFF; 
}

body > .container {
    padding-left: 0;
    padding-right: 0;
}




.main_section {
    background-image: url('../assets/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px; 
}

.top, 
.bottom {
    text-align: center;
}

.top {
    margin-top: 50px;
}

.bottom {
    position: relative;
    top: 25rem;
}


/* .tab.active {
    background-color: red; 
    color: white; 
    font-weight: bold;
} */

/* Footer Section  */
footer {
    background-color: #F5EFFF;
}

.container:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

button {
    width: 200px;
    height:50px; 
    margin-left: 3rem;
    font-weight: 800;
}

footer.justify-content-between {
    justify-content: center !important; 
}


/* Booking Form */
#bookingForm {
    padding: 20px;
    width:40%; 
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
}

#bookingForm hr {
    border: 1px solid black;
}

#bookingForm p {
    display: flex;
    flex-direction: column; 
}

#bookingForm > button {
    width: 100px; 
    border-radius: 10px;
    align-self: center;
    margin-left: 0;
}


#bookingForm > h3 {
    margin-bottom: 10px ; 
    text-align: center;
}

.bookcontainer {
    display: flex;
    justify-content: center;
}

input, textarea {   
    border-radius: 10px;
    border: 1px solid grey; 
}


/* MENU PAGE */
h4 {
    text-align: center;
    margin-bottom: 10px;
}

hr {
    border: 1px solid black;
}

/* Dimension for the menu images */
.col img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black; 
}

.menuInfo {
    display: flex;
    gap: 10px;
    margin: 5px;
}

.placard {
    background-color: yellow;
    height: auto;
}

.card, 
.placard {
    margin: 5px;
}

.card {
    padding-left: 5px;
    padding: 5px 5px; 
    width: 350px;
}

.card hr {
    margin-top: 0; 
}

.menuHeading {
    text-align: center;
    padding: 5px;
}

.placard {
    height: inherit;
    padding: 5px;
    border-radius: 10px;
}

.menu_list_item {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.price {
    justify-self: end;
    font-weight: 700; 
}













