/* CUSTOMISE STYLES */

/* Header section */

header {
    background-color:#F5EFFF; 
}

body > .container {
    padding-left: 0;
    padding-right: 0;
}




.main_section {
    background-image: url('../assets/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px; 
}

.top, 
.bottom {
    text-align: center;
}

.top {
    margin-top: 50px;
}

.bottom {
    position: relative;
    top: 25rem;
}

/* Dimension for the menu images */
.col img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black; 
}

.menuInfo {
    display: flex;
    gap: 10px;
    margin: 5px;
}

.placard {
    background-color: yellow;
    height: auto;
}

.card, 
.placard {
    margin: 5px;
}

.menuHeading {
    text-align: center;
    padding: 5px;
}

.placard {
    height: inherit;
}

/* .tab.active {
    background-color: red; 
    color: white; 
    font-weight: bold;
} */

/* Footer Section  */
footer {
    background-color: #F5EFFF;
}

.container:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

button {
    width: 200px;
    height:50px; 
    margin-left: 3rem;
    font-weight: 800;
}

footer.justify-content-between {
    justify-content: center !important; 
}












